<div class="container full-content-holder">

    <!--Create a new catalog-->
    <div class="row" ng-controller="createCatalogCtrl">
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="row text-dark pt-2 pb-2 ">
                        <div class="col-md-12 text-center">
                            <h4>Skapa en ny katalog</h4>
                            <hr />
                        </div>
                    </div>
                    <div class="modal-body row text-dark">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Kategori namn</label>
                                <input type="text" placeholder="Kategori namn..." class="form-control" ng-model="catalog.name" />
                                <button class="btn btn-sm btn-success mt-2" ng-click="createCatalog()">Skapa katalog</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Update catalog-->
    <div class="modal fade" id="update-catalog-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="row text-dark pt-2 pb-2 ">
                    <div class="col-md-12 text-center">
                        <h4>Updatera katalog</h4>
                        <hr />
                        <h6>Katalog skapades: <i>{{catalogObj.creationDate | date: 'yyyy-MM-dd'}}</i></h6>
                        <h6>Katalog skapades av: <i>David Söderberg</i></h6>
                    </div>
                </div>
                <div class="modal-body row text-dark">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Kategori namn</label>
                            <input type="text" placeholder="Kategori namn..." class="form-control" ng-model="catalogObj.CatalogName" />
                            <button class="btn btn-sm btn-success mt-2" ng-click="updateCatalog(catalogObj.catalogId)">Updatera katalog</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
   
    <!--Catalog List-->
    <div class="row" id="catalog-list-row-holder">
        <div class="col-md-12 text-center">
            <h4>Kataloger</h4>
        </div>
        <div class="col-md-12">
            <img src="/Media/icons/plus.png" class="img-fluid plus-icon" width="30" data-toggle="modal" data-target="#myModal" />
            <span class="pl-2">Skapa ny katalog</span>
        </div>
        <table class="table table-striped table-dark mt-3 text-center">
            <thead>
                <tr>
                    <th scope="col">Katalog namn</th>
                    <th scope="col">Katalog blev skapad av</th>
                    <th scope="col">Katalog skapades</th>
                    <th scope="col">Senast modiferad</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="catalog in catalogs">
                    <td>{{catalog.catalogName}}</td>
                    <td>{{catalog.userName}}</td>
                    <td>{{catalog.creationDate | date: 'yyyy-MM-dd'}}</td>
                    <td>{{catalog.lastModifiedDate | date: 'yyyy-MM-dd'}}</td>
                    <td class="icon-holder">
                        <img src="/Media/icons/edit-icon.png " width="20" data-toggle="modal" data-target="#update-catalog-modal" ng-click="getCatalogById(catalog.catalogId)" />
                        <img src="/Media/icons/trash-icon.png" width="20" ng-click="removeCatalog(catalog.catalogId)" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<style>
    .icon-holder img{
        cursor:pointer;
    }
    .full-content-holder {
        /*background-color: #0000007a;*/
        padding: 3em;
        border-radius: 2.5em;
        color: #ffffff;
    }

    .plus-icon {
        cursor: pointer;
    }
    #update-catalog-row-holder{
        display:none;
    }
</style>